    header {
        background-color: rgba(156, 0, 0, 0.5);
    }

    .formula__box {
        background-color: rgba(156, 0, 0, 0.7);
    }

    .formula__box:hover {
        transition: .2s;
        background-color: rgb(90, 0, 0);
    }