.formula__box {
    background-color: rgba(100, 100, 100, 0.5);
}

.formula__box:hover {
    transition: .2s;
    background-color: rgb(100, 100, 100);
}

.period__G-value--label {
    text-align: center;
}